*,*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
  background-color: var(--light);
}
:root {
  --primary: #059986;
  --primaryHover: #205b3b;
  --light: #f3f6f8;
  --dark: #1e3240;
  --gold: #cca449;
}
.btn-primary, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: var(--primary) !important;
  border: 1px solid var(--primary);
  background-color: var(--light);
  transition: all 1s ease;
  width: 150px;
}

.btn-primary:hover,
.btn-primary:active {
  color: var(--primaryHover) !important;
  border: 1px solid var(--primaryHover);
  background-color: var(--light);
}
#info {
  background-color: var(--dark);
  /* height: 50px; */
}
#info .info-text {
  border-radius: 100px 0px 0px 100px;
  color: var(--light);
  width: 100%;
  padding: 10px;
}
.text {
  text-align: center;
}
.text p {
  margin: 10px -100px;
  width: 600px;
}
.text button{
  margin: 20px;
}
#info ul {
  list-style: none;
}
#info li {
  margin-left: 40px;
  font-size: 18px;
}
#info .info-link {
  /* background-color: var(--primary); */
  color: var(--light);
  width: 100%;
  padding: 10px;
}
#info .info-link ul {
  justify-content: end;
}
.navbar-brand img {
  width: 100px;
}
.nav-item {
  font-size: 20px;
  margin-left: 10px;
}
.nav-link {
  color: var(--light) !important;
}
nav {
  background-color: var(--primary);
}
.swiper {
  width: 100%;
  height: 600px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 10px;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.layout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
}
.layout .over {
  margin: 0px 0px 0px 0px;
  padding: 100px 50px 100px 50px;
  background-color: #1b1717ad;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  font-size: 32px;
}
#about {
  background-color: var(--light);
  padding: 20px;
}
.gallery {
  --g: 8px; /* the gap */
  --s: 400px; /* the size */

  display: grid;
  border-radius: 50%;
}
.gallery > img {
  grid-area: 1/1;
  width: 400px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  transform: translate(var(--_x, 0), var(--_y, 0));
  cursor: pointer;
  z-index: 0;
  transition: 0.3s, z-index 0s 0.3s;
}
.gallery img:hover {
  --_i: 1;
  z-index: 1;
  transition: transform 0.2s, clip-path 0.3s 0.2s, z-index 0s;
}
.gallery:hover img {
  transform: translate(0, 0);
}
.gallery > img:nth-child(1) {
  clip-path: polygon(
    50% 50%,
    calc(50% * var(--_i, 0)) calc(120% * var(--_i, 0)),
    0 calc(100% * var(--_i, 0)),
    0 0,
    100% 0,
    100% calc(100% * var(--_i, 0)),
    calc(100% - 50% * var(--_i, 0)) calc(120% * var(--_i, 0))
  );
  --_y: calc(-1 * var(--g));
}
.gallery > img:nth-child(2) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% - 100% * var(--_i, 0)) 0,
    100% 0,
    100% 100%,
    calc(100% - 100% * var(--_i, 0)) 100%,
    calc(100% - 120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: var(--g);
}
.gallery > img:nth-child(3) {
  clip-path: polygon(
    50% 50%,
    calc(100% - 50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0)),
    100% calc(100% - 120% * var(--_i, 0)),
    100% 100%,
    0 100%,
    0 calc(100% - 100% * var(--_i, 0)),
    calc(50% * var(--_i, 0)) calc(100% - 120% * var(--_i, 0))
  );
  --_y: var(--g);
}
.gallery > img:nth-child(4) {
  clip-path: polygon(
    50% 50%,
    calc(120% * var(--_i, 0)) calc(50% * var(--_i, 0)),
    calc(100% * var(--_i, 0)) 0,
    0 0,
    0 100%,
    calc(100% * var(--_i, 0)) 100%,
    calc(120% * var(--_i, 0)) calc(100% - 50% * var(--_i, 0))
  );
  --_x: calc(-1 * var(--g));
}

footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  text-align: center;
}
footer ul {
  list-style: none;
  
}
footer .foot-link-info li {
  margin: 20px auto;
  font-size: 20px;
}
footer .foot-link {
  display: flex;
  justify-content: center;
}
.foot-link-info {
  margin: 120px auto;
}
.foot {
  margin: 100px auto;
}
footer .foot-link li i{
  margin-left: 20px;
  font-size: 40px;
}
.foot-link-staic li{
  margin-top: 20px;
  font-size: 20px;
}
footer .footer {
  background-color: var(--dark);
  color: var(--light);
  padding: 10px;
  text-align: center;
}
iframe{
  width: 100%;
}